.app {
  height: 100vh;
  overflow: hidden;
  .section {
    // position: relative;
    width: 100vw;
    height: calc(100vh - 4rem);
    top: 4rem;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
        display: none;
    }
    > * {
      width: 100vw;
      height: calc(100vh - 4rem);
      scroll-snap-align: start;
    }
  }
}
